.back {
  transform: rotateY(180deg);
  background: linear-gradient(-12deg, var(--color-sub) 50%, var(--color-white) 50% );
}

.back .topArea {
  display: flex;
  justify-content: flex-end;
  min-height: 1.5rem;
  & .edit {
    cursor: pointer;
  }
}

.back .centerArea {
  margin-bottom: auto;

  /* image 임시 CSS */
  & .userImage {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 50%;
    cursor: pointer;
  }

  & .keywordTag {

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    margin-top: 0.8rem;
   

    & span {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.575rem;
    }
  }
}

.back .bottomArea {
  & .infoText {
    color: var(--color-gray-3);
    font-size: 0.625rem;
    text-align: center;
  }
}