.createForm {
  display: flex;
  flex-direction: column;
  gap: 80px;

  /* 너무 아래가 안 보여서 추가함 */
  margin-bottom: 10rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.helpText {
  font-size: 0.8rem;
}

.warning {
  color: var(--color-state-error);
}
