.editContainer {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.editButton {
  width: 24px;
  height: auto;
}

.profileItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
