.sidemenuContainer {
  grid-column: span 2;
  border-right: 4px solid var(--color-main);
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.profileImg {
  width: 50px;
  height: 50px;
  /* padding: 8px; */
  border-radius: 50%;
  margin-bottom: 14px;
}

.profileImg img{
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profileInfo p{
  font-size: 0.8rem;
  color: var(--color-gray-2);
}

.menuItem {
  margin: 0;
  width: 100%;
  height: 72px;
  border-radius: 36px 0 0 36px;
  padding: 24px;
  background-color: white;
  box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selectedMenuItem {
  background-color: var(--color-main);
  color: white;
}
