.header {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.inHeader {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 5rem;
  border-bottom: 1px solid #BDBDBD;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.container {
  width: 75rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}



.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right div {
  margin-left: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.875rem;
  height: 3.25rem;
  background-color: #16433e;
  color: white;
  transition: background-color 0.3s ease;
}

.right div button:hover {
  background-color: #0e2f2b;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.right div button:active {
  background-color: #679c97;
  font-weight: 700;
  cursor: grab;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2rem;
  height: 2rem; 
}



