.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUp {
  border: 1px solid var(--color-gray-4);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27rem;
  padding-top: 1.28125rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signUp button {
  width: 21.875rem;
  margin-top: 1.28125rem;
  margin-bottom: 2.5625rem;
  background-color: #16433e;
  color: white;
  transition: background-color 0.3s ease;
}

.signUp button:hover {
  background-color: #092c4c;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.signUp button:active {
  background-color: #679c97;
  font-weight: 700;
  cursor: grab;
}

.inputInfo {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  margin-top: 1.28125rem;
}

.inputInfo label {
  font-weight: 700;
  margin-bottom: 0.3203125rem;
}

.inputInfo input {
  border-radius: 0.5rem;
  margin-bottom: 0.3203125rem;
  background-color: #f4f4f4;
}

.inputInfo p {
  font-size: 0.8rem;
  color: #eb5757;
  margin-bottom: 0.3203125rem;
}
