.tagContainer{
    display: flex;
    gap: 8px;
    border-radius: 24px;
    width: fit-content;
    border: 1px solid var(--color-gray-3);
    padding: 4px 14px;
}

.tagName{
    color: var(--color-gray-3);
}

.tagContainer:hover{
    background-color: var(--color-sub);
}

.tagContainer.active {
    background-color: #679C97;
    border: none;
}


.tagContainer.active span {
    color: white;
    font-weight: 600;
}