.carouselContainer {
  width: 1200px;
  /* border: 3px solid gray; */
  overflow: hidden; 
  display: flex;
}

.carouselInner {
  width: 300%;
  /* border: 3px solid green; */
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}