.cardListArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  /* gap px은 임시 */
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  width: 100%;
  height: 100%;
}


.detail {
  display: flex;
  flex-direction: column;

  & > h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.75rem;
  }

  & .meta {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-gray-4);

    & .userImage {
      /* 이미지 임시 */
      width: 45px;
      height: 45px;
      border: 1px solid blue;
      border-radius: 50%;
      cursor: pointer;
    }

    & .username {
      margin-left: 0.75rem;
      font-size: 1.125rem;
      font-weight: 700;
    }

    & .date {
      margin-right: auto;
      font-size: 1.125rem;

      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 6px 2px;
        background-color: var(--color-gray-4);
        border-radius: 50%;
      }
    }

    & .edit {
      cursor: pointer;
    }
    
  }

  & .detailInfo {

    padding: 2.5rem 0;

    & dl {
      display: flex;
      margin-bottom: 1rem;
    }

    & dt {
      min-width: 204px;
      font-size: 1.25rem;
    }

    & dd {
      font-size: 1.25rem;
      font-weight: 700;

      & .techTags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        & .techTag {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  & .description {
    margin: 1.875rem 0 6.25rem;
    & > h3 {
      padding-bottom: 1.5rem;
      margin-bottom : 1rem;
      font-size: 1.5rem;
      border-bottom: 1px solid var(--color-gray-4);
    }
  }

  & .completeBtn {
    margin: 0 auto;
    text-align: center;

    & button {
      padding: 0.75rem 3.75rem;
      color: var(--color-main);
      background-color: #D6F2EE;
      border: none;
      font-weight: 700;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
      transition: .4s;

      &:hover {
        transform: scale(1.05)
      }
    }

    & p {
      margin-top: 0.75rem;
      color: var(--color-gray-3);
      font-size: 0.625rem;
    }
  }
}