.detail {
  display: flex;
  flex-direction: column;


  & .title {
    width: 100%;
    padding: 1.5rem 0;
    border: none;
    border-bottom: 1px solid var(--color-gray-4);
    font-size: 2.5rem;
    line-height: 2.75rem;

    &::placeholder {
      color: var(--color-gray-4);
      font-weight: 400;
    }
  }

  & .detailInfo {

    padding: 2.5rem 0;

    & dl {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    & dt {
      min-width: 204px;
      font-size: 1.25rem;
    }

    & dd {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 700;

      & input[type="date"], input[type="number"] {
        padding: 0.375rem 1rem;
        margin-right: 0.5rem;
      }
    }

    & .positionList {
      & input[type="number"] {
        width: 100px;
      }

      & .infoText {
        color: var(--color-gray-3);
        font-size: 0.875rem;
      }
    }

    &.stackList {
      & ul {
        display: flex;

        & li {

        }
      }
    }
  }

  & .description {
    margin: 1.875rem 0 6.25rem;
    & h3 {
      padding-bottom: 1.5rem;
      margin-bottom : 1rem;
      font-size: 1.5rem;
      border-bottom: 1px solid var(--color-gray-4);
    }
  }

  & .buttonArea {
    text-align: right;
  }
}