.selectbox {
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 120px;
  margin-right: 8px;
  cursor: pointer;

  &:hover svg path {
    stroke: var(--color-gray-2);
  }
}

.seletTitle {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.375rem 1rem;
  border: 1px solid var(--color-gray-4);

  & span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-gray-2);
  }

  & svg {
    margin-left: 4px;
  }
}

.selectList {
  z-index: 100;
  display: none;
  position: absolute;
  top: 41px;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-4);

  & li {
    padding: 2px;

    & span {
      padding-left: 1rem;
      color: var(--color-gray-2);
    }

    &:hover {
      background-color: var(--color-sub);
    }
  }
}

.selectList.open {
  display: block;
}

.selectList .selected span {
  color: var(--color-main);
  font-weight: 700;
}