.tag {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
  padding: 0.375rem 1rem;
  background-color: var(--color-sub);

  & svg {
    cursor: pointer;
  }
}

.tag.keywordTag {
  border-radius: 20px;

  & span {
    color: var(--color-main);
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.tag.selectedTag {
  border-radius: 4px;

  & span {
    color: var(--color-gray-1);
  }
}