.field {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 1.25rem;
  width: 20rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* circleLogo일 때는 width: 10rem; height: 10rem; */
}

.loginMessage {
  margin-top: 1rem;
}

.loginMessage span {
  font-weight: 900;
  color: var(--color-main);
  transition: color 0.3s, cursor 0.3s;
}

.loginMessage span:hover {
  cursor: pointer;
  color: #BDBDBD;
}

.loginMessage span:active {
  cursor: grab;
  color: #4F4F4F;
}