.btn {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.875rem;
  height: 3.25rem;
  background-color: #16433e;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0e2f2b;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btn:active {
  background-color: #679c97;
  font-weight: 700;
  cursor: grab;
}