.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 78px);
  gap: 24px;
}

.componentContainer {
  grid-column: span 10;
  padding-top: 50px;
  padding-bottom: 200px;
}

.infoHeaderBox {
  padding: 24px 0 24px 0;
}

.headerTitle {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-gray-1);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.helptext {
  color: var(--color-gray-1);
}

.warning {
  color: var(--color-state-error);
}

.infoContentBox {
  padding: 24px 0 24px 0;
}

.infoContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.editInfo {
  border: none;
  padding: 0;
  font-size: 0.8rem;
  color: var(--color-gray-1);
}

.editInfo:hover {
  color: var(--color-gray-3);
}

.deleteProfile {
  color: var(--color-state-error);
}

.contentTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.infoContent {
  display: flex;
  align-items: center;
}

.infoitems {
  margin-left: 1rem;
}
.infoitem {
  display: flex;
}

.infoitem p {
  display: inline-block;
  width: 6rem;
}

.profileImgContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--color-main);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileimage {
  width: 100%;
  height: 100%;
}

.fieldname {
  padding: 4px;
}

.fieldvalue {
  padding: 4px;
  width: fit-content;
}

.profileBox {
  padding: 24px 0 24px 0;
}

.profileContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.profilepreview {
  padding: 24px;
  width: 100%;
  height: 100%;
}

.profileContent {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.editProfile {
  position: absolute;
  bottom: -2rem;
  background-color: var(--color-main);
  color: white;
}

.bioContainer{
  margin-top: 16px
}