.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 78px);
  gap: 24px;
}

.componentContainer {
  grid-column: span 10;
  padding-top: 90px;
  /* header 높이가 90px */
  /* height: 100vh; */
}
