.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 78px);
  gap: 24px;
}

.componentContainer {
  grid-column: span 10;
  padding-top: 50px;
  padding-bottom: 200px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.projlist {
  margin-top: 24px;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  color: var(--color-gray-3);
}
