.field {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.carousel {
  /* border: 5px solid gray; */
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .mainContent {
  border: 5px solid purple;
  padding: 1rem;
  padding: 0 1.5rem; 
  max-width: 1200px; 
} */

.cardListArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  width: 100%;
  height: 100%;
}